<template name="home">
    <div class="jumbotron">
        <div class="page-header">
            <h1>Welcome to SlideSync!</h1>
        </div>
    </div>
    
    <h1>What's all this now?</h1>
    <p>SlideSync is a website for creating, editing, and viewing presentations. What sets it apart
    from the rest is that SlideSync supports multiple timelines. This allows you to display different
    content on different devices, but they all stay synchronized.</p>
    
    <h1>Why would I use this instead of [insert favorite presentation program]?</h1>
    <p>Having multiple timelines and synchronizing presentations beween an arbitrary number of devices
    makes SlideSync very versatile. One use would be to have two timelines: one with slides to be
    displayed on a projector, the other with speaker notes for you to read on your phone as you
    present. A more outlandish idea would be to give your viewers the link to one of your timelines,
    and display content there that complements what you have on the projector. Imagine that instead
    of handing out bulletins before an event and expecting the audience to keep track of where they
    are in the program, you set up the bulletin as a SlideSync presentation and ensure that everyone
    is on the same page. Literally.</p>
    
    <h1>Who is making this thing?</h1>
    <p>SlideSync is a student project by Ian Buck and Timothée Germain. It was started November 2014
    for the Design of Dynamic Web Systems class at Luleå University of Technology.</p>
    
    <h1>Are you on Github?</h1>
    <a href="https://github.com/SlideSyncOrg/SlideSync">Duh.</a>
    
    <button id="securityTest">Test Security</button>

</template>
