<template name="presentationView">
    <div id="wrapper">
        <!-- Sidebar -->
        {{#if isAuthorized}}
        
        <div id="sidebar-wrapper">
            <h1>
        	
            Hello
        </h1>
        
            <button id="toggleSidebar" class="btn btn-default">toggle sidebar</button>
        </div>

        <div id="page-content-wrapper">
            <p>You are viewing a slide!</p>

            <p>Owner is {{owner}}</p>

            <p>Timeline: {{currentTimeline}}</p>
            <p>State: {{currentState}}</p>
            <p>Content: {{currentContent}}</p>

            {{#if isOwner}}
            <button id="previousState">Prev</button>
            <button id="nextState">Next</button>
            {{/if}}
        </div>
        
        {{else}}
        <hi>Sorry, you are not authorized to view this slide. Please change to a different timeline or <a href="{{ pathFor 'home'}}">log in.</a></hi>
        
        {{/if}}
    </div>
</template>