<template name="presentationOverview">
    This is the template for a presentation overview
    <p>Here you should see the differents timelines and states</p>
    <p>
        Owner : {{owner}}
    </p>
    <p>
        Creation date : {{createdAt}}
    </p>

    <form id="addTimeline" role="form" class="form-inline">
        <div class="form-group">

            <label for="title">Timeline Name</label>
            <input type="text" class="form-control" id="title" placeholder="title of the new timeline" required />
            <button type="submit" class="btn btn-primary">New timeline</button>
        </div>
        
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>#</th>
                {{#each timelines}}
                <th>
                    <div>
                        {{title}}
                    </div>
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{statesCount}}
            <tr>
            	<td>
	            	index
	            	<button type="button" class="btn btn-default addState">add state</button>
	            </td>
		            {{#each ../timelines}}
		            <td>
			            		preview of the slide ?
		            </td>
	            	{{/each}} 
            </tr>
        </tbody>
    </table>


</template>
