<template name="presentationOverview">
    <div class="col-md-6">

        <h1>{{titleToDisplay}}</h1>

        <p>Owner : {{owner}}</p>

        <p>Creation date : {{createdAt}}</p>
    </div>
    <div class="col-md-6">
        {{>qrcode stringToRender=shortUrl size=150}}
        <h3>the short url : </h3>
        <a href="{{shortUrl}}">{{shortUrl}}</a>
        <a href="
            {{#with _id=_id timeline=0}}
                {{pathFor 'presentation.view'}}
            {{/with}}" class="btn btn-success" id="presentBtn">Present</a>
    </div>
    <div class="col-md-12">
        <form id="addTimeline" role="form" class="form-inline" novalidate>
            <div class="form-group">
                <label for="title">Timeline Name</label>
                <input type="text" class="form-control" id="title" placeholder="Title of the new timeline" required /> Publicly visible:
                <input type="checkbox" id="isPublic" />
                <button type="submit" {{isDisabled}} class="btn btn-primary">New timeline</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>States</th>
                {{#each timelines}}
                <th>
                    <div>
                        {{titleToDisplay}}
                        <div id="visibility">
                            <p>

                                {{#if isPublic}}
                                <div class="label label-success">Public</div>
                                {{else}}
                                <div class="label label-warning">Private</div>
                                {{/if}}
                            </p>
                        </div>

                    </div>
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each gimmeStatesArray}}

            <tr>
                <td>
                    {{index}}
                    <!-- Would like to put add state button only on bottom row-->
                </td>
                {{#each ../timelines}}
                <td>

                    {{relatedSlide title ../index}}
                    <a href="
            
                {{pathFor 'slide.edit' data=getEditSlideUrlData}}
            " id="edit">Edit</a>
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>

    <button type="button" class="btn btn-default addState">Add state</button>







</template>
