<template name="presentations">
    <div class="container">

        <form id="addPrez" role="form">
            <div class="form-group">

                <label for="title">Presentation title</label>
                <input type="text" class="form-control" id="title" placeholder="title of the new presentation" />
            </div>
            <button type="submit" class="btn btn-default">new prez</button>
        </form>


        <p>All the presentations so far</p>
        {{#each prezs}} {{> presentation}} {{/each}}
    </div>
</template>

<template name="presentation">
    <div class="panel-primary panel">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body">
            <p>
                Owner : {{owner}}
            </p>
            <p>
                Creation date : {{createdAt}}
            </p>
            <div class="btn-group pull-right" role="toolbar">
                <button type="button" class="btn btn-default" id="editBtn">Edit</button>
                <button type="button" class="btn btn-danger" id="deleteBtn">Delete</button>
                <button type="button" class="btn btn-success" id="presentBtn">Present</button>
            </div>
        </div>
    </div>
</template>
