<template name="authenticatedUser">

    <div class="container">

        <h1>Account Stats</h1>
        
        {{#if loggedIn}}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <td>Possible info to display:</td>
                        <td>
                            <ul>
                                <li>Number owned presentations</li>
                                <li>Number slides</li>
                                <li>Average slides per presentation</li>
                                <li>Average timelines per presentation</li>
                                <li>Analytics (viewship stats)</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{/if}}
    </div>
</template>
